<!--
	作者：yeshengqiang
 	时间：2016-08-08
 	描述：合同管理
-->
<div class="pageContent">
    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-home mr10"></span>合同管理</li>
    </ol>
    <div class="clearfix searchContent">
        <div class="col-xs-11">
            <div class="col-xs-3 form-group">
                <label class="control-label">日期</label>
                <input class="form-control" ng-model="searchData.date" type="text"
                       date-pick="searchData" placeholder="请选择日期"/>
            </div>
            <div class="col-xs-3 form-group">
                <label class="control-label">甲方企业</label>
                <input type="text" class="form-control" ng-model="searchData.brandedname" placeholder="请输入甲方企业"/>
            </div>
            <div class="col-xs-3 form-group">
                <label class="control-label">乙方企业</label>
                <input type="text" class="form-control" ng-model="searchData.wlname" placeholder="请输入乙方企业"/>
            </div>
            <div class="col-xs-3 ">
                <label class="control-label">&nbsp;</label>
                <div>
                    <button class="btn btn-primary" type="button" ng-click="searchPaginator._load()">搜索</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bgWhite">
        <button class="btn btn-primary" ui-sref="main.clauseManagement.addClause">新增</button>
        <table class="table text-center">
            <tr>
                <th>甲方企业名称</th>
                <th>乙方企业名称</th>
                <th>合同签订时间</th>
                <th>到期时间</th>
                <th>合同扫描件下载</th>
                <th>附加合同下载</th>
                <th>操作</th>
            </tr>
            <tr ng-repeat="item in searchPaginator.object.rows">
                <td>{{item.brandedname}}</td>
                <td>{{item.wlname}}</td>
                <td>{{item.pactoperant}}</td>
                <td>{{item.deadline}}</td>
                <td><a ng-click="down(item.pactscan)" class="btn btn-sm btn-primary">下载</a></td>
                <td><a ng-click="down(item.extrapact)" class="btn btn-sm btn-primary">下载</a></td>
                <td><a ng-click="del(item.id)" class="btn btn-sm btn-danger">删除</a></td>
            </tr>
            <tr ng-show="searchPaginator.page.totalResult==0">
                <td colspan="7" class="text-center">
                    暂无数据!
                </td>
            </tr>
        </table>
        <div ng-show="searchPaginator.page.totalResult!=0" class="col-xs-12 text-center">
            <div class="padding">
                <div class="bill_paging">
                    <ul class="pagination">
                        <li ng-class="{true:'disabled'}[searchPaginator.page.currentPage==1]">
                            <a href="javascript:void(0)" ng-click="searchPaginator.go(1)">首页</a>
                        </li>
                        <li ng-class="{true:'disabled'}[searchPaginator.page.currentPage==1]">
                            <a href="javascript:void(0)" ng-show="searchPaginator.hasPrevious()"
                               ng-click="searchPaginator.previous()">上一页</a>
                        </li>
                        <li ng-class="{true:'active'}[searchPaginator.page.currentPage==i]"
                            ng-repeat="i in searchPaginator.pages">
                            <a href="javascript:void(0)" ng-click="searchPaginator.go(i)">{{i}}</a>
                        </li>
                        <li ng-class="{true:'disabled'}[searchPaginator.page.currentPage==searchPaginator.page.totalPage]">
                            <a href="javascript:void(0)" ng-show="searchPaginator.hasNext()"
                               ng-click="searchPaginator.next()">下一页</a>
                        </li>
                        <li ng-class="{true:'disabled'}[searchPaginator.page.currentPage==searchPaginator.page.totalPage]">
                            <a href="javascript:void(0)" ng-click="searchPaginator.go(searchPaginator.page.totalPage)">尾页</a>
                        </li>
                    </ul>
                    <span>共{{searchPaginator.page.totalResult}}条</span>
                </div>
            </div>
        </div>
    </div>
</div>