<!--
	作者：makaiqin
 	时间：2016-08-10
 	描述：意见反馈
-->
<div class="pageContent">
    <!--<div style="background-color:#f1f2f6;padding:16px 14px;">-->
    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-home mr10"></span>意见反馈</li>
    </ol>
    <!--功能操作END-->
    <!--<div class="panel-body breadcrumb" style="background: #fff;padding-top: 3%">-->
    <form class="clearfix searchContent">
        <!--条件查询表单-->
        <div class="col-xs-11">
            <div class="col-xs-3 form-group">
                <label class="control-label">日期</label>
                <input class="form-control" ng-model="searchData.date" type="text" date-pick="searchData" placeholder="请选择日期"/>
            </div>
            <div class="col-xs-3 form-group">
                <label class="control-label">问题状态</label>
                <select class="form-control" ng-model="searchData.status"
                        ng-options="a.value as a.name for a in division">
                    <option value="">所有状态</option>
                </select>
            </div>
            <div class="col-xs-3">
                <label class="control-label">&nbsp;</label>
                <div>
                    <button type="button" class="btn btn-primary" ng-click="projectItem._load()">
                        搜索
                    </button>
                </div>
            </div>
            <!--条件查询表单END-->
        </div>
    </form>

    <div class="container-fluid bgWhite">
        <div class="row">
            <div class="col-xs-12">
                <!--表格-->
                <table class="table text-center">
                    <tr>
                        <th>编号</th>

                        <th>问题类型</th>

                        <th>主题</th>

                        <th>反馈人</th>

                        <th>反馈时间</th>

                        <th>问题状态</th>

                        <th>操作</th>

                    </tr>

                    <tr ng-repeat="item in projectItem.object.rows">

                        <td>{{$index+1}}</td>

                        <td>{{item.type | anFormat}}</td>

                        <td>{{item.title}}</td>

                        <td>{{item.wlname}}</td>

                        <td>{{item.fkdate| date:"yyyy-mm-dd"}}</td>

                        <td>{{item.status | statusFormat}}</td>

                        <td><a class="btn btn-sm btn-info" ng-click="lookSome(item)">查看明细</a></td>

                    </tr>
                    <tr ng-show="projectItem.page.totalResult==0">
                        <td colspan="7" class="text-center">
                            暂无数据!
                        </td>
                    </tr>

                </table>
                <!--表格END-->
                <!--分页-->
                <div ng-show="projectItem.page.totalResult!=0" class="padding text-center">
                    <div class="bill_paging">
                        <ul class="pagination">
                            <li ng-class="{true:'disabled'}[projectItem.page.currentPage==1]">
                                <a href="javascript:void(0)" ng-click="projectItem.go(1)">首页</a>
                            </li>
                            <li ng-class="{true:'disabled'}[projectItem.page.currentPage==1]">
                                <a href="javascript:void(0)" ng-show="projectItem.hasPrevious()"
                                   ng-click="projectItem.previous()">上一页</a>
                            </li>
                            <li ng-class="{true:'active'}[projectItem.page.currentPage==i]"
                                ng-repeat="i in projectItem.pages">
                                <a href="javascript:void(0)" ng-click="projectItem.go(i)">{{i}}</a>
                            </li>
                            <li ng-class="{true:'disabled'}[projectItem.page.currentPage==projectItem.page.totalPage]">
                                <a href="javascript:void(0)" ng-show="projectItem.hasNext()"
                                   ng-click="projectItem.next()">下一页</a>
                            </li>
                            <li ng-class="{true:'disabled'}[projectItem.page.currentPage==projectItem.page.totalPage]">
                                <a href="javascript:void(0)"
                                   ng-click="projectItem.go(projectItem.page.totalPage)">尾页</a>
                            </li>
                        </ul>
                        <span>共{{projectItem.page.totalResult}}条</span>
                    </div>
                </div>
                <!--分页END-->
            </div>
            <!--</div>-->
        </div>
    </div>
</div>