<!--
	作者：yeshengqiang
 	时间：2016-08-08
 	描述：登录页面
-->
<div class="container-fluid bgInfo">
	<div class="normalWidth">
		<div class="reg-block">
			<div class="header">
				<img src="imgs/logo1.png" style="width: 80px;height: 80px"/>
			</div>
			<hr />
			<form>
				<div class="form">
					<div class="input-group">
						<div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
						<input type="text" class="form-control" id="username" ng-model="username" placeholder="用户名">
					</div>
					<div class="input-group">
						<div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
						<input type="password" class="form-control" id="password" ng-model="password" placeholder="密码">
					</div>
				</div>
				<hr />
				<div class="checkbox clearfix">
					<label>
						<input type="checkbox" ng-model="rememberPassword"/> 记住密码
					</label>
					<a class="right" ui-sref="register">注册</a>
				</div>
				<button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="login()">登 录</button>
				<a ui-sref="forget" href="" class="forget-password">找回密码?</a>
			</form>
		</div>
	</div>
</div>
