<!--
	作者：yeshengqiang
 	时间：2016-08-08
 	描述：早安1919
-->
<div class="autoheight" style="padding:16px 14px;overflow: auto;">
    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-home mr10"></span>早安1919</li>
    </ol>
    <form class="clearfix searchContent">
        <div class="col-xs-11">
            <div class="col-xs-3 form-group">
                <label class="control-label">日期</label>
                <input class="form-control" ng-model="searchData.date" type="text" date-pick="searchData" placeholder="请选择日期"/>
            </div>
            <div class="col-xs-3 form-group ">
                <label class="control-label">&nbsp;</label>
                <div>
                    <button type="submit" ng-click="currentBrand._load()" class="btn btn-primary">搜索</button>
            </div>
        </div>
        </div>
    </form>
    <!--品牌-->
    <div ng-if="demand">
        <div class="container-fluid bgWhite" ng-init="autoHeight(45)">
            <div class="row">
                <div class="col-xs-12">
                    <table class="table text-center">
                        <tr>
                            <th class="text-center">序号</th>
                            <th class="text-center">上传时间</th>
                            <th class="text-center">操作</th>
                        </tr>
                        <tr ng-repeat="item in currentBrand.object.rows">
                            <td>{{$index+1}}</td>
                            <td>{{item.scdate}}</td>
                            <td><a href="javascript:void(0);" class="btn btn-sm btn-primary" ng-click="down(item)">下载</a></td>
                        </tr>
                        <tr ng-show="currentBrand.page.totalResult==0">
                            <td class="text-center" colspan="4">
                                暂无数据!
                            </td>
                        </tr>
                    </table>
                    <div ng-show="currentBrand.page.totalResult!=0" class="padding text-center">
                        <div class="bill_paging">
                            <ul class="pagination">
                                <li ng-class="{true:'disabled'}[currentBrand.page.currentPage==1]">
                                    <a href="javascript:void(0)" ng-click="currentBrand.go(1)">首页</a>
                                </li>
                                <li ng-class="{true:'disabled'}[currentBrand.page.currentPage==1]">
                                    <a href="javascript:void(0)" ng-show="currentBrand.hasPrevious()"
                                       ng-click="currentBrand.previous()">上一页</a>
                                </li>
                                <li ng-class="{true:'active'}[currentBrand.page.currentPage==i]"
                                    ng-repeat="i in currentBrand.pages">
                                    <a href="javascript:void(0)" ng-click="currentBrand.go(i)">{{i}}</a>
                                </li>
                                <li ng-class="{true:'disabled'}[currentBrand.page.currentPage==currentBrand.page.totalPage]">
                                    <a href="javascript:void(0)" ng-show="currentBrand.hasNext()"
                                       ng-click="currentBrand.next()">下一页</a>
                                </li>
                                <li ng-class="{true:'disabled'}[currentBrand.page.currentPage==currentBrand.page.totalPage]">
                                    <a href="javascript:void(0)"
                                       ng-click="currentBrand.go(currentBrand.page.totalPage)">尾页</a>
                                </li>
                            </ul>
                            <span>共{{currentBrand.page.totalResult}}条</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--物流-->
    <div ng-if="services">
        <div class="container-fluid bgWhite" ng-init="autoHeight(45)">
            <div class="row">
                <div class="col-xs-12">
                    <table class="table text-center">
                        <tr>
                            <th class="text-center">序号</th>
                            <th class="text-center">上传时间</th>
                            <th class="text-center">操作</th>
                        </tr>
                        <tr ng-repeat="item in currentBrand.object.rows">
                            <td>{{$index+1}}</td>
                            <td>{{item.scdate}}</td>
                            <td><a href="javascript:void(0);" class="btn btn-sm btn-primary" ng-click="down(item)">下载</a></td>
                        </tr>
                        <tr ng-show="currentBrand.page.totalResult==0">
                            <td class="text-center" colspan="4">
                                暂无数据!
                            </td>
                        </tr>
                    </table>
                    <div ng-show="currentBrand.page.totalResult!=0" class="padding text-center">
                        <div class="bill_paging">
                            <ul class="pagination">
                                <li ng-class="{true:'disabled'}[currentBrand.page.currentPage==1]">
                                    <a href="javascript:void(0)" ng-click="currentBrand.go(1)">首页</a>
                                </li>
                                <li ng-class="{true:'disabled'}[currentBrand.page.currentPage==1]">
                                    <a href="javascript:void(0)" ng-show="currentBrand.hasPrevious()"
                                       ng-click="currentBrand.previous()">上一页</a>
                                </li>
                                <li ng-class="{true:'active'}[currentBrand.page.currentPage==i]"
                                    ng-repeat="i in currentBrand.pages">
                                    <a href="javascript:void(0)" ng-click="currentBrand.go(i)">{{i}}</a>
                                </li>
                                <li ng-class="{true:'disabled'}[currentBrand.page.currentPage==currentBrand.page.totalPage]">
                                    <a href="javascript:void(0)" ng-show="currentBrand.hasNext()"
                                       ng-click="currentBrand.next()">下一页</a>
                                </li>
                                <li ng-class="{true:'disabled'}[currentBrand.page.currentPage==currentBrand.page.totalPage]">
                                    <a href="javascript:void(0)"
                                       ng-click="currentBrand.go(currentBrand.page.totalPage)">尾页</a>
                                </li>
                            </ul>
                            <span>共{{currentBrand.page.totalResult}}条</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

