<!--
	作者：yeshengqiang
 	时间：2016-08-08
 	描述：合同管理--新增合同
-->
<div class="pageContent">
    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-home mr10"></span>合同管理</li>
    </ol>
    <div class="container-fluid bgWhite form-horizontal">
        <div class="form-group">
            <div class="col-xs-2 text-right ">
                <label class="control-label">甲方企业名称：</label>
            </div>
            <div class="col-xs-4">
                <!--<input class="form-control" type="text" ng-model="addInfo.brandedname" placeholder="请输入甲方企业名称"/>-->
                <select name="" class="form-control" ng-options="item.id as item.name for item in brandedname"
                        ng-model="addInfo.brandedcompanyid">
                    <option value="">--请选择--</option>
                </select>
            </div>
            <div class="col-xs-2 text-right ">
                <label class="control-label">乙方企业名称：</label>
            </div>
            <div class="col-xs-4">
                <!--<input class="form-control" ng-model="addInfo.wlname" placeholder="请输入乙方企业名称" type="text" value="XXX酒业"/>-->
                <select name="" class="form-control" ng-options="item.id as item.name for item in wlname"
                        ng-model="addInfo.wlcompanyid">
                    <option value="">--请选择--</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-2 text-right ">
                <label class="control-label">合同名称：</label>
            </div>
            <div class="col-xs-10">
                <input class="form-control" ng-model="addInfo.pactname" placeholder="请输入合同名称" type="text"
                       value="XXXXXXXX"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-2 text-right ">
                <label class="control-label">签订时间：</label>
            </div>
            <div class="col-xs-4">
                <input class="form-control" ng-change="" ng-model="addInfo.pactoperant" type="date"/>
            </div>
            <div class="col-xs-2 text-right ">
                <label class="control-label">截至时间：</label>
            </div>
            <div class="col-xs-4">
                <input class="form-control" ng-model="addInfo.deadline" type="date"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-2 text-right ">
                <label class="control-label">合同扫描件：</label>
            </div>
            <div class="col-xs-8">
                <div class="row">
                    <div class="col-xs-3">
                        <div id="img1" ng-click="uploadPhoto('img1',1)" class="uploadImg">
                            上传资质文件
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div id="img2" ng-click="uploadPhoto('img2',1)" class="uploadImg">
                            上传资质文件
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div id="img3" ng-click="uploadPhoto('img3',1)" class="uploadImg">
                            上传资质文件
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div id="img4" ng-click="uploadPhoto('img4',1)" class="uploadImg">
                            上传资质文件
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-2 text-right ">
                <label class="control-label">附加合同：</label>
            </div>
            <div class="col-xs-8">
                <div class="row">
                    <div class="col-xs-3">
                        <div id="imgs1" ng-click="uploadPhoto('imgs1',2)" class="uploadImg">
                            上传附加合同
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div id="imgs2" ng-click="uploadPhoto('imgs2',2)" class="uploadImg">
                            上传资质文件
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div id="imgs3" ng-click="uploadPhoto('imgs3',2)" class="uploadImg">
                            上传资质文件
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <button class="btn btn-primary" ng-click="add()">确认</button>
                <button class="btn btn-default" ng-click="cancel()">取消</button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="up" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">上传</h5>
            </div>
            <div class="modal-body">
                <div id="upload">
                    <div id="zyUpload"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">确认</button>
            </div>
        </div>
    </div>
</div>